<p>employee-form works!</p>
<div class="employee-details">
 <form #employeeForm="ngForm">

   <div class="form-group" style="margin-bottom:5px">
    <label for="Name">Name Of Employee : </label>
    <input type="text" id="name" class="form-control"
            [(ngModel)]="employee1.Name" name="Name" placeholder="please enter name here"/>
   </div>

    <div class="form-group">
      <label for="gradeName">Grade Name : </label>
      <input type="text"  class="form-control" id="gradeName"
            [(ngModel)]="employee1.gradeName" name="gradeName">
    </div>

 </form>
</div>
  <button type="submit" (click)="onSubmit()" style="color:Red;align: center" class="btn btn-success">Submit</button>

<div class="employee-details" style="margin-bottom:5px" [style.visibility]="(submitted == false) ? 'hidden' : 'visible' ">
  <h3>Employee Name: {{employee1.Name}}</h3>
  <div><span style="color:Blue">Employeee GradeId: </span>{{employee1.gradeId}}</div>
  <div><span>Employee GradeName: </span>{{employee1.gradeName}}</div>
</div>


