/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:5%;
    margin-left:40%;
    margin-right:55%;
    margin-top:10px;
}
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
